* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: linear-gradient(45deg, black, red);
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

.hero {
    display: flex;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 120px;
    background-color: antiquewhite;
    display: flex;
    justify-content: end;
    align-items: end;
}

.nav-items {
    display: flex;
    gap: 24px;
}

.nav-items a {
    color: black;
    font-size: 32px;
    text-decoration: none;
    transition: 1s ease-in-out 10ms;
}

.nav-items a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: red;
}

.content-container {
    margin-right: 160px;
    margin-left: 160px;
    max-width: 1440px;
}

.girl {
    object-fit: cover;
}

.messenger {
    max-width: 800px;
    min-width: 300px;
    min-height: 450px;
    background-color: bisque;
    border: solid 1px black;
    border-radius: 16px;
    margin-top: 120px;
    display: flex;
}

.messenger-darkmode {
    max-width: 800px;
    min-width: 300px;
    min-height: 450px;
    background-color: darkslategrey;
    border: solid 1px black;
    border-radius: 16px;
    margin-top: 120px;
    display: flex;
}

.messenger h1 {
    padding-top: 16px;
}

.output {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#userOutput {
    background-color: aquamarine;
    padding: 8px;
    border-radius: 16px;
}

#botOutput {
    background-color: greenyellow;
    padding: 8px;
    border-radius: 16px;
}

.input-area {
    margin-top: 120px;
    padding: 16px;
    border: solid 1px black;
    border-radius: 16px;
    background-color: rgb(28, 66, 28);
}

.text-area input {
    min-height: 48px;
}

#darkmodeBtn:hover {
    background-color: black;
    color: white;
}

.error {
    background-color: bisque;
    border: solid 2px black;
    border-radius: 16px;
    padding: 48px;
    margin-top: 120px;
}

.notDisplay {
    display: none;
}

